body{

font-style: 'Open Sans', Helvetica, Arial, sans-serif;
/*font-family: 'Source Code Pro', monospace;*/
/*background-color: black;*/
font-size: 24px;
font-weight: 300;
overflow-x: hidden;
background: #000;
}

#pr1{

height: 100vh;
min-height: 100vh;
display: flex!important;
background-repeat: no-repeat;
background-size: cover;

}

h1{

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 300;
color: #FFFFFF;
font-size: 4rem;

}

p{

color: white;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Code Pro', monospace;
font-style: normal;
font-size: 30px;
font-weight: 300;

}

.ball1 {
  position: absolute;
  transform-origin: center;
/*  background-color: #14B8A6;*/
  background:radial-gradient(closest-side,#08f7fe,rgba(233,168,2,0));
  width: 600px;
  height: 800px;
  border-radius: 40rem;
  transform: translateY(25%) translateX(30%);
  animation: ball-1 15s ease-in-out infinite alternate;
  z-index: 0;
}

.ball2 {
  position: absolute;
  transform-origin: center;
/*  background-color: #ed21ed;*/
  background:radial-gradient(closest-side,#ff01f0,rgba(233,168,2,0));
  width: 500px;
  height: 700px;
  border-radius: 40rem;
  transform: translateY(-40%) translateX(-80%);
  animation: ball-2 30s ease-in-out infinite alternate;
  z-index: 0;
}

.ball3 {
  position: absolute;
  transform-origin: center;
/*  background-color: #fff01f;*/
  background:radial-gradient(closest-side,#fff01f,rgba(233,168,2,0));
  width: 240px;
  height: 290px;
  border-radius: 40rem;
  transform: translateY(85%) translateX(-75%);
  animation: ball-3 30s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes ball-1 {
  100% {
    transform: translateY(30%) translateX(-15%) rotate(330deg);
  }
}


@keyframes ball-2 {
  100% {
    transform: translateY(-10%) translateX(70%) rotate(580deg);
  }
}

@keyframes ball-3 {
  40% {
    transform: translateY(40%) translateX(-40%) rotate(280deg);
  }
  60% {
    transform: translateY(0%) translateX(0%) rotate(360deg);
  }
  100% {
    transform: translateY(-20%) translateX(-75%) rotate(460deg);
  }
}

.thebox{
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);
    width: 25%;
    min-width: 25rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 4rem;
    margin-left: 0 !important;
    background: rgba(38, 56, 58, 0.6);
    backdrop-filter: saturate(110%) blur(3rem);

    border-radius: 0 25px 25px 0;
/*    box-shadow: rgb(70 103 108 / 20%) 100px 0px 40px;*/
/*    border: dotted red 10px;*/
}

.block-ball {
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);
    width: 25%;
    min-width: 25rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 4rem;
    margin-left: 0 !important;
    border-radius: 0 25px 25px 0;
/*    border: dotted blue 10px;*/
}

.preventSelect{
    z-index:1;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
        -khtml-user-elect: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera */
}

.typing::after{

content: "|";
animation: blink ease 1s infinite;

}

.social{

width: 30px;
height: 24px;

}

.stuff{

margin: 10px;
margin-left:0;
z-index:1;

}

.xd0{

font-family: 'Open Sans', sans-serif;
font-family: 'Source Code Pro', monospace;
font-style: normal;
font-size: 60px;
font-weight: 300;
color: blue;

}


#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 99%;
}

.git{filter: invert(60%) sepia(9%) saturate(1310%) hue-rotate(232deg) brightness(93%) contrast(85%);}
.discord{filter: invert(24%) sepia(68%) saturate(5249%) hue-rotate(215deg) brightness(102%) contrast(102%);}
.tweet{filter: invert(83%) sepia(94%) saturate(5230%) hue-rotate(89deg) brightness(102%) contrast(100%);}
.tele{filter: invert(71%) sepia(80%) saturate(926%) hue-rotate(114deg) brightness(103%) contrast(101%);}
.redd{filter: invert(15%) sepia(88%) saturate(5088%) hue-rotate(323deg) brightness(93%) contrast(103%);}
.instagram{filter: invert(60%) sepia(9%) saturate(1310%) hue-rotate(232deg) brightness(93%) contrast(85%);}
.email{filter: invert(83%) sepia(76%) saturate(245%) hue-rotate(358deg) brightness(97%) contrast(90%);}
